src/main/resources/calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

            <xs:element name="add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inputRecord" type="tns:addType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="out" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="subtract">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inputRecord" type="tns:subtractType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="subtractResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="out" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="addType">
                <xs:sequence>
                    <xs:element name="firstNum" type="xs:int"/>
                    <xs:element name="secondNum" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="subtractType">
                <xs:sequence>
                    <xs:element name="firstNum" type="xs:int"/>
                    <xs:element name="secondNum" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="subtractResponse">
        <wsdl:part element="tns:subtractResponse" name="subtractResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:addResponse" name="addResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CalculatorPort">
        <wsdl:operation name="subtract">
            <wsdl:output message="tns:subtractResponse" name="subtractResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdl:output message="tns:addResponse" name="addResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorPortSoap11" type="tns:CalculatorPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subtract">
            <soap:operation soapAction=""/>
            <wsdl:output name="subtractResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="add">
            <soap:operation soapAction=""/>
            <wsdl:output name="addResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorPortService">
        <wsdl:port binding="tns:CalculatorPortSoap11" name="CalculatorPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>