src/main/resources/exchange.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

            <xs:element name="exchangeCurrencyRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="tns:currencyRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="exchangeCurrencyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="response" type="tns:currencyResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="currencyRequest">
                <xs:sequence>
                    <xs:element name="fromCurrency" type="xs:string"/>
                    <xs:element name="fromCurrencyAmount" type="xs:float"/>
                    <xs:element name="toCurrency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="currencyResponse">
                <xs:sequence>
                    <xs:element name="toCurrency" type="xs:string"/>
                    <xs:element name="toCurrencyAmount" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="exchangeCurrencyResponse">
        <wsdl:part element="tns:exchangeCurrencyResponse" name="exchangeCurrencyResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="exchangeCurrencyRequest">
        <wsdl:part element="tns:exchangeCurrencyRequest" name="exchangeCurrencyRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ExchangePort">
        <wsdl:operation name="exchangeCurrency">
            <wsdl:input message="tns:exchangeCurrencyRequest" name="exchangeCurrencyRequest">
            </wsdl:input>
            <wsdl:output message="tns:exchangeCurrencyResponse" name="exchangeCurrencyResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExchangePortSoap11" type="tns:ExchangePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="exchangeCurrency">
            <soap:operation soapAction=""/>
            <wsdl:input name="exchangeCurrencyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="exchangeCurrencyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExchangePortService">
        <wsdl:port binding="tns:ExchangePortSoap11" name="ExchangePortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>